@media only screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        overflow-x: hidden;
        overflow-y: auto; 
    }
    .wrapper{
        width: 100%;
    }
    .header {
        height: 300px; /* Giảm chiều cao cho màn hình nhỏ hơn */
        background-size: cover;
    }

    .title {
        padding: 50px 10px; /* Giảm padding cho màn hình nhỏ hơn */
    }

    .title h1 {
        font-size: 10vw; /* Sử dụng đơn vị vw để điều chỉnh kích thước font theo chiều rộng màn hình */
    }

    .title h2 {
        font-size: 8vw;
    }

    .title h4 {
        font-size: 4vw;
        letter-spacing: 2px;
    }

    .information {
        height: auto; /* Để chiều cao tự động điều chỉnh theo nội dung */
        padding: 20px;
    }

    .invitation {
        width: 90%;
        left: 5%;
    }

    .events-main {
        flex-direction: column;
        align-items: center;
    }

    .content {
        flex-direction: column;
    }

    .content-left,
    .content-right {
        width: 100%;
    }

    .content-left img,
    .content-right img {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .bride,
    .groom {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .wedding-aside img{
        
    }
    .box {
        flex-direction: column;
        width: 90%;
        left: 5%;
    }

    .video-slide {
        width: 100%;
        left: 0;
    }

    .photo-title {
        font-size: 6vw;
    }

    .picture {
        width: 100%;
        left: 0;
        padding: 0 10px;
    }

    .rvsp {
        width: 90%;
        left: 5%;
    }

    .rvsp button {
        width: 100%;
        height: auto;
        font-size: 4vw;
    }

    .footer {
        height: auto;
        padding: 20px;
    }

    .thiep img {
        width: 40px;
    }

    .modal-title {
        font-size: 6vw;
    }

    .modal-body,
    .modal-footer {
        padding: 10px;
    }

    .text-footer button {
        font-size: 4vw;
    }

    .text-footer img {
        width: 4vw;
    }
}

@media only screen and (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        overflow-x: hidden;
        overflow-y: auto; 
    }
    .wrapper{
        width: 100%;
    }
    .title h1 {
        font-size: 12vw;
    }

    .title h2 {
        font-size: 10vw;
    }

    .title h4 {
        font-size: 5vw;
        letter-spacing: 1px;
    }

    .invitation h3 {
        font-size: 6vw;
    }
    .event{
        width: 100%;
    }
    .event-time{
        width: 80%;
        position: relative;
        left: 10%;
    }
    .events-main{
       width: 75%;
        
    }
    .events-main img {
        width: 69px;
        height: 75px;
    }
    .events-main::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 270px;
        bottom: 7.5%;
        left: 115%; 
        background-color: black;
        transform: translateY(50%); 
    }
    .point::before{
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 2px; 
        top: 40%;
        left: 112%;
        transform: translateX(-50%);
        background-color: black;
        z-index: 2;
    }
    .section{
        width: auto;
        padding: 0;
        display: flex;
    }
    .section h3 {
        font-size: 5vw;
        padding-left: 10px;
        position: relative;
        bottom: 30px;
    }
    .story{
        width: 100%;
        height: 1000px;
    }
    .story-background{
        position: absolute;
        width: 100%;
        height: 450px;
        background-image: url('../IMAGE/DX0I5566.jpg');
        background-size: 100% auto;
    }
    .our-story{
        margin: 200px 50px 10px 50px;
        background-color: aliceblue;
    } 
    .content-title {
        font-size: 6vw;
    }
    .wedding-title{
        font-size: 6vw;
    }
    .wedding-name{
        font-size: 5vw;
    }
    .wedding-content {
        font-size: 4vw;
    }
    .wedding-main{
        width: 100%;
        padding: 30px 0px 30px 0px;
        text-align: center;
    }
    .icon img{
         width: 50%;        
    }
    .past-title{
        padding: 0;
        width: 50%;
        position: relative;
        left: 25%;
    }
    .past-title p {
        font-size: 7vw;
    }
    .box-number {
        width: 10%;
        margin: 0;
        font-size: 11vw;
        bottom: 0;
        top: 35px;
        left: 20px;
    }
    .box-left{
        width: 100%;
        padding-bottom: 10%;
    }
    .box-right{
        width: 100%;
    }
    .box-right img{
        width: 70%;
        padding: 30px 15px 30px 30px;
        position: relative;
        left:15%;
        border-radius: 50px;
    }
    .box-content{
        width: 100%;
    }
    .box-title {
        font-size: 6vw;
        width: 100%;
    }
    
    .box-text,
    .box-talk {
        font-size: 4vw;
    }

    .bride,
    .groom {
        display:flex;
        flex-direction: column;
        width: 70%;
        height: auto;
    }
    .wedding-aside img{
        text-align: center;
        width: 100%;
        height: auto;
    }
    .wedding-aside{
        width: auto;
    }
    .wedding-section{
        width: auto;
    }
    .video-title {
        width: 90%;
        position: relative;
        left: 10%;
    }
    .video-title h1{
        font-size: 6vw;
    }
    .video-slide{
        width: 70%;
        position: relative;
        left: 15%;
        bottom: 5%;
        border-radius: 50px;
    }
    .video-content{
        background-image: none;
    }
    .photo-title {
        font-size: 5vw;
    }
    .yes-no{
        padding: 20px;
    }
    .rvsp-title {
        font-size: 6vw;
    }
    .row-box{
        display: inline-block;
        width: 100%;
        padding-top: 20px;
    }
    .nut{
        width: 40%;
        position: relative;
        left:30%;
    }
}
