*{
    padding: 0;
    margin: 0 auto;
}
body {
    overflow-x: hidden;
    width: 100%;
}
.header{
    width: auto;
    height: 600px;
    background-image: url('../IMAGE/mat-tien-shop-quan-ao-dep-0.jpg');
    background-size: 100% auto;
}
.title{
    padding: 150px 20px 100px 20px;
}
.title h1{
    text-align:center;
    color: aliceblue;
    font-size: 100px;
    font-family: "Satisfy", cursive;
    font-weight: 400;       
    font-style: normal;
    padding-bottom: 10px;
}
.title h2{
    text-align:center;
    color: aliceblue;
    font-size: 80px;
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding-bottom: 10px;
}
.title h4{
    text-align:center;
    color: aliceblue;
    padding-bottom: 10px;
    letter-spacing: 10px;
}
.information{
    text-align:center;
    width: 100%;
    height: 770px;
    background-color: beige;
   
}
.invitation{
    width: 30%;
}
.invitation h3{
    padding: 50px 10px;
    color: #000;
    border-bottom: 2px solid black;
}
.time_location h5,h3{
    padding: 30px 0 0 0;
    color: #000;
}
.event{
    padding:30px 0 0 0;
}
.event h3{
    padding: 40px 0 0 0;
    color: #000;
}
.event-time{
    width: 65%;
    padding: 30px 10px 10px 10px;
    color: #000;
}
/* Events Main */
.events-main {
    display: flex;
    position: relative; /* Đặt vị trí tương đối */
}

/* Đường kẻ dưới */
.events-main::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30%;
    height: 2px; /* Độ dài đường kẻ */
    background-color: black; /* Màu sắc của đường kẻ */
    transform: translateY(50%); /* Điều chỉnh vị trí dọc */
}
.point::before{
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 40px;
    left: 50%;
    top: 135px;
    transform: translateX(-50%);
    background-color: black;
    z-index: 2;
}
.events-main img{
    width: 89px;
    height: 80px;
}
.section h3{
    position: relative;
    top: 30%;
    color: #413b3b;

}
.story{
    width: 100%;
    height: 1000px;
}
.story-background{
    position: absolute;
    width: 100%;
    height: 700px;
    background-image: url('../IMAGE/DX0I5566.jpg');
    background-size: 100% auto;
}
.our-story{
    margin: 400px 300px 10px 300px;
    background-color: aliceblue;
}
.content{
    display: flex;
}
.content-left{
    width: 50%;
    height: auto;
}
.content-left img{
    margin: 50px 10px 55px 55px;
    width: 80%;
    height: 550px;

}
.content-right{
    width: 50%;
    height: auto;
}
.content-text{
    margin: 50px 50px 50px 50px;
}
.content-title{
    clear: both;
    word-spacing: 10px;
    font-size: 40px;
    font-weight: bold;
}
.icon{
    text-align: center;
}
.icon img{
    width: 400px;
    height: auto;
}
.main{
    width: 100%;
    height: auto;
    background-color: antiquewhite;
    margin: 350px 0 0 0;
}
.bride{
    width: 70%;
    height: 500px;
    display: flex;
}
.wedding-aside{
    width: 40%;
    height: auto;
    background-color: aquamarine;
}
.wedding-aside img{
    text-align: center;
    width: 100%;
    height: 600px;
} 
.wedding-section{
    width: 60%;
    height: auto;
    /* background-color: blueviolet; */
}
.wedding-main{
   padding: 10px 10px 10px 100px;
}
.wedding-title{
    font-size: xx-large;
    font-weight: bold;
}
.wedding-name{
    font-size: 50px;
}
.wedding-content{
    font-size: large;
}
.groom{
    width: 70%;
    height: 500px;
    display: flex;
    margin-top: 200px;
}
.groom-padding{
    padding: 0px 100px 0px 0px;
}
.past{
    width: 70%;
    height: auto;
    margin-top: 100px;
}
.icon-past{
    text-align: center;
}
.icon-past img{
    width: 200px;
    height: auto;
}
.past-title{
    border-bottom: 3px solid black;
    width: 30%;
    height: auto;
    padding-bottom: 20px;
}
.past-title p{
    text-align: center;
    font-size: 70px;
}
.past-title h1{
    text-align: center;
}
.box{
    width: 100%;
    height: auto;
    border: 1px solid black;
    display: flex;
}
.box-number{
    font-size:100px;
    position: relative;
    top: 65px;
}
.box-title{
    text-align: center;
    font-size: 40px;
    padding: 40px 5px 5px 5px;
}
.box-text{
    padding: 30px 5px 5px 5px;
    text-align: center;
    font-size: 20px;
}
.box-ps{
    width: 20%;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}
.box-talk{
    font-size: large;
}
.box-left{
    width: 50%;
    padding: 5px 5px 5px 5px;
}
.box-right{
    width: 50%;
}
.box-right img{
    width: 100%;
    height: auto;
}
.video{
    width: 100%;
    height: auto;
    margin-top: 100px;
}
.video-title{
    width: 50%;
    text-align: center;
    letter-spacing: 6px;
}
.icon-video{
    text-align: center;
}
.icon-video img{
    width: 200px;
    height: auto;
}
.video-content{
    background-image: url('../IMAGE/mat-tien-shop-quan-ao-dep-0.jpg');
    width: 100%;
    height: 600px;
}
.video-slide{
    text-align: center;
    width: 70%;
    height: auto;
    padding-top: 40px;
}
.video-slide video{
    width: 100%;
    height: auto;
}
.photo{
    width: 100%;
    height: auto;
    padding-top: 100px;
}
.photo-title{
    width: 100%;
    height: auto;
    font-size: 35px;
    text-align: center;
    letter-spacing: 10px;
}
.picture{
    width: 70%;
    height: auto;
    padding-top: 40px;
}
.anh1 img{
    width: 100%; 
    height: 200px;
}
.anh3 img{
    width: 100%; 
    height: 200px;
}
.anh6 img{
    width: 100%; 
    height: 200px;
}
.anh8 img{
    width: 100%; 
    height: 200px;
}
.anh2 img{
    width: 100%;height:300px;
}
.anh7 img{
    width: 100%;height:300px;
}
.anh4 img{
    width: 100%; max-height: 357px;
}
.anh5 img{
    width: 100%; max-height: 357px;
}
.col {
    flex: 1;
    margin: 0 0 15px 0; /* Thêm khoảng cách 10px ở bên trái và bên phải của mỗi cột */
}
.rvsp{
    width: 70%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 25px;
    color: gray;
}
.rvsp-title{
    text-align: center;
    font-size: 35px;
    font-weight: 15px;
}
.rvsp button{
    width: 200px;
    height: 60px;
    font-size: 25px;
}
.yes-no{
    padding-left:100px;
    display: inline;
}
#choose1[type="radio"] {
    width: 30px; 
    height: 30px;
}
#choose2[type="radio"] {
    width: 30px; 
    height: 30px;
}
.footer{
    width: 100%;
    height: 100px;
    background-color:rgb(161, 182, 124);
}
.btn-footer {
    position: fixed;
    bottom: 0;
    width: auto;
    right: 10px;
    /* Các thuộc tính khác tùy theo nhu cầu của bạn */
    z-index: 999; /* Đảm bảo footer hiển thị trên tất cả các phần khác */
}
.modal-header{
    margin: 0;
}
.modal-body{
    margin: 0;
}
.modal-footer{
    margin: 0;
    text-align: center;
}
.text-footer{
    width: 100%;
}
.text-footer button{
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
}
.text-footer button:hover{
    background-color:gray;
}
.text-footer img{
    width: 20px;
    height: auto;
    text-align: center;
}
#btkh {
    display: none;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes rotateIn {
    0% {
        transform: scale(0) rotate(0deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}
@keyframes rotateOut {
    0% {
        transform: scale(1) rotate(360deg);
    }
    100% {
        transform: scale(0) rotate(0deg);
    }
}
@keyframes flipIn {
    0% {
        transform: perspective(100px) scale(0.5) rotateY(-6deg) ; /* Lật màn hình về phía sau */
    }
    100% {
        transform: perspective(100px) scale(1) rotateY(0deg); /* Lật màn hình về phía trước */
    }
}
/* Áp dụng animation cho các phần tử */
.title h1,
.title h2,
.title h4,
.invitation h3,
.time_location h5,
.time_location h3,
.event h3 ,.events-main::after{
    opacity: 0; 
    /* Ẩn các chữ ban đầu */
    animation: fadeInUp 0.5s forwards; /* Sử dụng animation fadeInUp và đặt thời gian là 1s */
    animation-delay: calc(var(--animation-delay) * var(--index)); /* Tính toán độ trễ cho mỗi phần tử */

}
.information{
    opacity: 0;
    animation: fadeInUp 0.5s forwards; /* Sử dụng animation fadeInUp và đặt thời gian là 1s */
    animation-delay: calc(var(--animation-delay) * var(--index)); /* Tính toán độ trễ cho mỗi phần tử */
}
.section, .content-text{
    opacity: 0;
    animation: fadeInRight 0.5s forwards;
    animation-delay: calc(var(--animation-delay) * var(--index)); /* Tính toán độ trễ cho mỗi phần tử */
}
.point::before{
    opacity: 0;
    animation: fadeInRight 0.5s forwards;
    animation-delay: calc(var(--animation-delay) * var(--index)); /* Tính toán độ trễ cho mỗi phần tử */
}
.content-left{
    opacity: 0;
    animation: fadeInLeft 1s forwards;
    animation-delay: calc(var(--animation-delay) * var(--index)); /* Tính toán độ trễ cho mỗi phần tử */
}
.icon{
    opacity: 0;
    animation: fadeInUp 1s forwards; /* Sử dụng animation fadeInUp và đặt thời gian là 1s */
    animation-delay: calc(var(--animation-delay) * var(--index)); /* Tính toán độ trễ cho mỗi phần tử */
}
.groom-right,.bride-right{
    opacity: 0;
    animation: fadeInRight 2s forwards;
    animation-delay: calc(var(--animation-delay) * var(--index)); /* Tính toán độ trễ cho mỗi phần tử */
}
.bride-left,.groom-left{
    opacity: 0;
    animation: fadeInLeft 2s forwards;
    animation-delay: calc(var(--animation-delay) * var(--index)); /* Tính toán độ trễ cho mỗi phần tử */
}
.icon-past,.past-title,.photo-title,.picture{ 
    opacity: 0;
    animation: fadeInUp 2s forwards; /* Sử dụng animation fadeInUp và đặt thời gian là 1s */
    animation-delay: calc(var(--animation-delay) * var(--index)); /* Tính toán độ trễ cho mỗi phần tử */
}
.box-number,.box-left{
    opacity: 0;
    animation: fadeInUp 2s forwards; /* Sử dụng animation fadeInUp và đặt thời gian là 1s */
    animation-delay: calc(var(--animation-delay) * var(--index)); /* Tính toán độ trễ cho mỗi phần tử */
}
.rvsp{
    opacity: 0;
    animation: fadeInUp 3s forwards; /* Sử dụng animation fadeInUp và đặt thời gian là 1s */
    animation-delay: calc(var(--animation-delay) * var(--index)); /* Tính toán độ trễ cho mỗi phần tử */
}
.yes-no{
    padding-left:500px;
}
/* /////////////////////////////////////////// */
.video-title{
    opacity: 0;
    animation: fadeInUp 2s forwards; /* Sử dụng animation fadeInUp và đặt thời gian là 1s */
    animation-delay: calc(var(--animation-delay) * var(--index)); /* Tính toán độ trễ cho mỗi phần tử */
}
.video-slide video {
    width: 100%; /* Đảm bảo video chứa vừa khung hình */
    height: auto;
    /* Sử dụng animation flipIn */
    animation: flipIn 2s forwards;
    /* Thiết lập chế độ lặp lại chỉ có 1 lần */
    animation-iteration-count: 1;
    animation-delay: calc(var(--animation-delay) * var(--index)); /* Tính toán độ trễ cho mỗi phần tử */
}
/* CSS Custom Properties */
:root {
    --animation-delay: 0.5s; /* Độ trễ giữa các phần tử */
}
/* Sử dụng media queries cho các thiết bị di động */
@media screen and (max-width: 768px) {
    .header {
        height: 200px;
        width: 100%;
        background-image: url('../IMAGE/chup-anh-cuoi-da-lat-16303277762071115470.jpg');
        background-size: 100% auto;
    }

    .title{
        padding: 20px 20px 100px 20px;
    }
    .title h1{
        text-align:center;
        color: aliceblue;
        font-size: 40px;
        font-family: "Satisfy", cursive;
        font-weight: 100;       
        font-style: normal;
        padding-bottom: 10px;
    }
    .title h2{
        text-align:center;
        color: aliceblue;
        font-size: 30px;
        font-family: "Merriweather Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        padding-bottom: 10px;
    }
    .title h4{
        text-align:center;
        color: aliceblue;
        padding-bottom: 10px;
        letter-spacing: 10px;
    }
    .information{
        text-align:center;
        width: 100%;
        height: 770px;
        background-color: beige;
       
    }
    .invitation{
        width: 40%;
    }
    .invitation h3{
        padding: 50px 10px;
        color: #000;
        border-bottom: 2px solid black;
    }
    .time_location h5,h3{
        padding: 30px 0 0 0;
        color: #000;
    }
    .event{
        padding:30px 0 0 0;
    }
    .event h3{
        padding: 40px 0 0 0;
        color: #000;
    }
    .event-time{
        width: 65%;
        padding: 30px 10px 10px 10px;
        color: #000;
    }
    /* Events Main */
.events-main {
    display: flex;
    position: relative; /* Đặt vị trí tương đối */
}

/* Đường kẻ dưới */
.events-main::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30%;
    height: 2px; /* Độ dài đường kẻ */
    background-color: black; /* Màu sắc của đường kẻ */
    transform: translateY(50%); /* Điều chỉnh vị trí dọc */
}
.point::before{
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 40px;
    left: 50%;
    top: 135px;
    transform: translateX(-50%);
    background-color: black;
    z-index: 2;
}
.events-main img{
    width: 89px;
    height: 80px;
}
.section h3{
    position: relative;
    top: 30%;
    color: #413b3b;

}
.story{
    width: 100%;
    height: 1000px;
}
.story-background{
    position: absolute;
    width: 100%;
    height: 400px;
    background-image: url('../IMAGE/10-dia-diem-chup-anh-cuoi-lang-man-giup-luu-lai-nhung-ky-niem-dep-va-y-nghia-202110151554242210.jpg');
    background-size: 100% auto;
}
.our-story{
    margin: 200px 150px 10px 150px;
    background-color: aliceblue;
}
.content{
    display: flex;
}
.content-left{
    width: 50%;
    height: auto;
}
.content-left img{
    margin: 50px 10px 50px 50px;
    width: 90%;
    height: 300px;

}
.content-right{
    width: 50%;
    height: auto;
}
.content-text{
    margin: 50px 10px 50px 50px;
}
.content-title{
    clear: both;
    letter-spacing: 10px;
    font-size: 20px;
    font-weight: bold;
}
.icon img{
    width: 200px;
    height: auto;
}
.main{
    width: 100%;
    height: auto;
    background-color: antiquewhite;
    margin: 350px 0 0 0;
}
.bride{
    width: 70%;
    height: 300px;
    display: flex;
}
.wedding-aside{
    width: 40%;
    height: auto;
    background-color: aquamarine;
}
.wedding-aside img{
    text-align: center;
    width: 100%;
    height: auto;
} 
.wedding-section{
    width: 60%;
    height: auto;
    /* background-color: blueviolet; */
}
.wedding-main{
   padding: 10px 10px 10px 100px;
}
.wedding-title{
    font-size: 20px;
    font-weight: bold;
}
.wedding-name{
    font-size: 20px;
}
.wedding-content{
    font-size: 10px;
}
.groom{
    width: 70%;
    height: auto;
    display: flex;
    margin-top: 100px;
}
.groom-padding{
    padding: 0px 100px 0px 0px;
}
.past{
    width: 70%;
    height: auto;
    margin-top: 100px;
}
.icon-past{
    text-align: center;
}
.icon-past img{
    width: 150px;
    height: auto;
}
.past-title{
    border-bottom: 3px solid black;
    width: 30%;
    height: auto;
    padding-bottom: 20px;
}
.past-title p{
    text-align: center;
    font-size: 30px;
}
.past-title h1{
    text-align: center;
}
.box{
    width: 100%;
    height: auto;
    border: 1px solid black;
    display: flex;
}
.box-number{
    font-size:50px;
    position: relative;
    top: 35px;
}
.box-title{
    text-align: center;
    font-size: 30px;
    padding: 40px 5px 5px 5px;
}
.box-text{
    padding: 30px 5px 5px 5px;
    text-align: center;
    font-size: 10px;
}
.box-text span{
    font-size: 10px;
}
.box-ps{
    width: 20%;
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}
.box-talk{
    font-size: 10px;
}
.box-left{
    width: 50%;
    padding: 5px 5px 5px 5px;
}
.box-right{
    width: 50%;
}
.box-right img{
    width: 100%;
    height: auto;
}
.video{
    width: 100%;
    height: auto;
    margin-top: 100px;
}
.video-title{
    width: 50%;
    text-align: center;
    letter-spacing: 6px;
}
.video-title h1{
    font-size: large;
}
.icon-video{
    text-align: center;
}
.icon-video img{
    width: 200px;
    height: auto;
}
.video-content{
    background-image: url('../IMAGE/56775620_2638156069592892_7434256577382580224_o.jpg');
    width: 100%;
    height: 300px;
}
.video-slide{
    text-align: center;
    width: 70%;
    height: auto;
    padding-top: 40px;
}
.video-slide video{
    width: 80%;
    height: auto;
}
.photo{
    width: 100%;
    height: auto;
    padding-top: 100px;
}
.photo-title{
    width: 100%;
    height: auto;
    font-size: 25px;
    text-align: center;
    letter-spacing: 5px;
}
.picture{
    width: 70%;
    height: auto;
    padding-top: 40px;
}
.anh1 img{
    width: 100%; 
    height: 100px;
}
.anh3 img{
    width: 100%; 
    height: 100px;
}
.anh6 img{
    width: 100%; 
    height: 100px;
}
.anh8 img{
    width: 100%; 
    height: 100px;
}
.anh2 img{
    width: 100%;height:200px;
}
.anh7 img{
    width: 100%;height:200px;
}
.anh4 img{
    width: 100%; max-height: 357px;
}
.anh5 img{
    width: 100%; max-height: 357px;
}
.col {
    flex: 1;
    margin: 0 0 15px 0; /* Thêm khoảng cách 10px ở bên trái và bên phải của mỗi cột */
}
.rvsp{
    width: 70%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 15px;
    color: gray;
}
.rvsp-title{
    text-align: center;
    font-size: 25px;
    font-weight: 20px;
}
.rvsp button{
    width: 200px;
    height: 60px;
    font-size: 15px;
}
.yes-no{
    padding-left:20px;
    display: inline;
}
#choose1[type="radio"] {
    width: 20px; 
    height: 20px;
}
#choose2[type="radio"] {
    width: 20px; 
    height: 20px;
}
.footer{
    width: 100%;
    height: 100px;
    background-color:rgb(161, 182, 124);
}

}
